* {
  box-sizing: border-box;
}

.top, .bottom, .left, .right {
  background: #5B314B;
  position: fixed;
}

.left, .right {
  top: 0; 
  bottom: 0;
  width: 1em;
}

.left { 
  left: 0; 
}

.right { 
  right: 0; 
}

.top, .bottom {
  left: 0; 
  right: 0;
  height: 1em;
}

.top { 
  top: 0; 
}

.bottom { 
  bottom: 0; 
}

.logo {
  height: 15em;
  width: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5em;
}

.input-group {
  margin-top: 5em;
  width: 75%;
  margin-left: auto;
  margin-right: auto;

}

.title {
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    margin-top: 2em;
    font-family: 'Roboto Slab', serif;
    color: #5B314B;
}

.artistname {
  text-align: center;
  font-family: 'Righteous', cursive; 
  font-size: 1.5em;
  color: #5B314B;

}

.img {
  display: block;
  margin-right: auto;
  margin-left: auto;
  margin-top: 1em;

}

.img:last-child {
  margin-bottom: 5em;
}